<!--@subject {{var email_subject}} @-->
<!--@vars {
"var email_subject":"Email Subject",
"var order_increment_id":"Order Increment ID",
"var customer_id":"Customer ID",
"var customer_name":"Customer Name",
"var customer_email":"Customer Email",
"var items_data":"Withdrawn Items (JSON)",
"var withdrawal_date":"Withdrawal Date",
"var store":"Store",
"var company_name":"Company Name"
} @-->

{{template config_path="design/email/header_template"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Dear"}} {{var customer_name}},</p>
            <p>
                {{trans "I exercise my"}} <strong>{{trans "right of withdrawal,"}}</strong> {{trans "as I have the right to withdraw from this contract within fourteen days without giving any reason. The right of withdrawal does"}} <strong>{{trans "not"}}</strong> {{trans "apply to distance contracts"}}
            </p>
            <ul>
                <li>{{trans "for the delivery of goods which are liable to deteriorate or expire rapidly;"}}</li>
                <li>{{trans "for the delivery of food and beverages;"}}</li>
                <li>{{trans "for the delivery of sealed goods which are not suitable for return due to health protection or hygiene reasons, if the seal has been removed."}}</li>
            </ul>
            <p>
                <strong>{{var company_name}}</strong> {{trans "may contact me to arrange the return of goods (excluding baked goods)."}}
            </p>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}
