<?xml version="1.0"?>
<!--
 * Copyright (C) 2026 by BitsTree GmbH - All Rights Reserved
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="BitsTree\Withdrawal\Api\Data\WithdrawalInterface"
                type="BitsTree\Withdrawal\Model\Withdrawal"/>
    <preference for="BitsTree\Withdrawal\Api\WithdrawalRepositoryInterface"
                type="BitsTree\Withdrawal\Model\WithdrawalRepository"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bitstree_withdrawal_listing_data_source" xsi:type="string">BitsTree\Withdrawal\Model\ResourceModel\Withdrawal\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="BitsTree\Withdrawal\Model\ResourceModel\Withdrawal\Grid\Collection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bitstree_withdrawal</argument>
            <argument name="resourceModel" xsi:type="string">BitsTree\Withdrawal\Model\ResourceModel\Withdrawal</argument>
        </arguments>
    </virtualType>
</config>
